html,body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body,.logo,.text-sign,.emailbox-password,.submit-button,.emailbox,.password{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 90vh;
    width: 35vw;
}

.container{
    border-radius: 10px;
    box-shadow: 0px 0px 20px grey; 
}

.logo{
    height: 35%;
    width: 100%;
}

.logo h1,.text-sign h1{
    margin: 0px;
}

/* main body contain email,password,text-sign */

form{
    height: 65%;
    width: 100%;
}
    
.text-sign{
    height: 27%;
    width: 100%;
}
.text-sign h1{
    text-align: center;
    font-size: 3vw;
    line-height: 1;
}

/* emailbox */

.emailbox-password{
    height: 50%;
    width: 100%;
    flex-direction: column;
}
.emailbox,.password{
    height: 30%;
    width: 100%;
}

.submit-button{
    height: 35%;
    width: 100%;
}

/* input box styling */

.emailbox input,.password input{
    height: 68%;
    width: 60%;
    border-radius: 8px;
    padding: 0px 0.8vw;
    color: rgb(72, 72, 72);
    font-weight: 600;
    font-size: 1rem;
    border: 3px solid rgb(72, 72, 72);
    background-color: rgb(220, 219, 219);
}

/* button styling */
.submit-button button{
    padding: 2.5% 5%;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 10px;
    border: 0px;
    color: white;
    background-color: rgb(95, 95, 231);
}


/* media query */

@media screen and (max-width:1200px) {
    .container{
        width: 40vw;
    }
    .text-sign h1{
        font-size: 4vw;
    }
}
@media screen and (max-width:1000px) {
    .container{
        width: 50vw;
    }
    .text-sign h1{
        font-size: 4vw;
    }
}
@media screen and (max-width:800px) {
    .container{
        width: 60vw;
    }
    .text-sign h1{
        font-size: 5.5vw;
    }
}

@media screen and (max-width: 600px){
    .container{
        height: 100vh;
        width: 100vw;
    }

    .text-sign h1{
        font-size: 8vw;
    }
}

