:root {
  --pri: #DEE1E3;
  --sec: #303037;
  --ter: #4830ff;
  --micro: #FF5656;
}

@font-face {
  font-family: main;
  src: url(../public/RussoOne-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: main;
}

main {
  height: 100vh;
  display: grid;
  place-content: center;
}